In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
uri = "/Users/rio/Documents/datasets_for_analysis/Lineman_Shops.csv"
data = pd.read_csv(uri)
data.head(2)

/var/folders/tq/1dn18qvs46z75s3216p47sbm0000gn/T/ipykernel_6648/783722451.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(uri)

,TID,id,gid,id_source,name,distance,cuisine,price_level,lat,lon,...,address,facebook,phone,email,url,RunID,RunDate,InsertUpdateTime,searched_lat,searched_lon
0,2577,216531.0,09VwpBTRUiuSWzlHXurkDECu4nYpEF,216531Ae,Mister Donut นราธิวาส,56400.107069,ของหวาน/เบเกอรี/เค้ก,ต่ำกว่า 100 บาท,6.434885,101.824171,...,"{'street': '4136', 'hint': 'ร้านอยู่ติดกับเซเว...",https://www.facebook.com/MisterDonutThailand/,084-751-6497,NaN,https://www.wongnai.com/delivery/businesses/21...,36543,2021-06-29 11:55:33,2021-06-29 11:55:41,5.9333,101.9
1,2578,732344.0,09VxKVu1ExiIGx68FoCs2bzPMsiZFO,732344qz,เตี๋ยวตุ๋นมั้ย by Kunla,58042.506818,ก๋วยเตี๋ยว,ต่ำกว่า 100 บาท,6.447599,101.810208,...,"{'street': '4136, Khok Khian, Amphoe Mueang Na...",https://www.facebook.com/เตี๋ยวตุ๋นมั้ยby-kunl...,0864983302,NaN,https://www.wongnai.com/delivery/businesses/73...,36543,2021-06-29 11:55:33,2021-06-29 11:55:41,5.9333,101.9

In [5]:
data.columns

Index(['TID', 'id', 'gid', 'id_source', 'name', 'distance', 'cuisine',
       'price_level', 'lat', 'lon', 'image_url', 'category',
       'category_international', 'opening_hours', 'id_chain', 'name_chain',
       'reviews_nr', 'rating', 'address', 'facebook', 'phone', 'email', 'url',
       'RunID', 'RunDate', 'InsertUpdateTime', 'searched_lat', 'searched_lon'],
      dtype='object')

In [8]:
data["name"].values

array(['Mister Donut นราธิวาส', 'เตี๋ยวตุ๋นมั้ย by Kunla',
       'ข้าวขาหมูวอสเบียน', ..., 'โจ๊กใบเตย', "แซ่บE'เม้าส์",
       'หมูกะทะ สุมาลี'], dtype=object)

In [9]:
data.describe()

,TID,id,distance,lat,lon,id_chain,reviews_nr,rating,RunID,searched_lat,searched_lon
count,316192.000000,3.161910e+05,316192.000000,316192.000000,316192.000000,18306.000000,316192.000000,291473.000000,316192.000000,316192.000000,316192.000000
mean,160706.923654,6.474644e+05,27112.842242,13.872975,100.636939,1270.617011,2.451874,0.678176,36623.289046,13.709356,100.648139
std,91332.038262,2.419046e+05,31985.539302,2.306922,0.968758,1287.004451,14.077920,1.456752,206.307057,2.277730,1.019892
min,2577.000000,2.000000e+00,0.000000,6.398947,98.278676,1.000000,0.000000,0.000000,36543.000000,5.768093,98.270351
25%,81624.750000,5.034790e+05,2538.269104,13.642805,100.396490,63.000000,0.000000,0.000000,36543.000000,13.583300,100.340000
50%,160672.500000,6.687790e+05,6399.128358,13.784624,100.555048,635.000000,0.000000,0.000000,36543.000000,13.766700,100.550000
75%,239720.250000,8.499645e+05,69371.214212,14.039742,100.727009,2396.000000,0.000000,0.000000,36543.000000,14.043300,100.833300
max,319219.000000,1.029465e+06,79999.921765,18.935823,104.794417,3694.000000,975.000000,5.040000,37479.000000,19.316700,105.216700

In [15]:
data["rating"]

0         3.09
1         0.00
2         3.44
3         4.57
4         0.00
          ...
316187     NaN
316188     NaN
316189     NaN
316190     NaN
316191     NaN
Name: rating, Length: 316192, dtype: float64

In [16]:
data['name']

0             Mister Donut นราธิวาส
1           เตี๋ยวตุ๋นมั้ย by Kunla
2                 ข้าวขาหมูวอสเบียน
3                 Ciao Coffee & Co.
4                     TEA AND TOAST
                    ...
316187           หวานเย็น by ผึ้งใย
316188    ครัวน้องเก้า ( ข้าวมันไก่
316189                    โจ๊กใบเตย
316190                 แซ่บE'เม้าส์
316191               หมูกะทะ สุมาลี
Name: name, Length: 316192, dtype: object